.page-loader {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    display: none;
}

.page-overlay {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: none;
    opacity: .6;
    background-color: #fff;
    display: none;
}

.login__form-errors {
    color: red;
}

.aside__orders-list {
    display: none;
}

.aside__orders-list_active {
    display: block;
}

.order-cover {
    display: none;
}

.order-cover_active {
    display: block;
}

.steps {
    display: none;
}

.steps_active {
    display: flex;
}